@import '../../../scss/export';

/* Start: */

.wrapper {
  width: 100%;
  height: 100%;
  .container {

    background-color: $special-color;
    border-radius: $normal-border;
    padding: $static-scale * 2;
    box-sizing: border-box;
    transition: all $normal-transition;
    &:hover {
      background-color: darken($color: $special-color, $amount: 15)
    }
  }
}

//computer
@media screen and (min-width: $screen-scale){
  .container {
    width: 66%;
    height: 33%;
    &:hover {
      background-color: darken($color: $special-color, $amount: 15)
    }
  }
}

//mobile
@media screen and (max-width: $screen-scale){
  .container {
    position: absolute;
    width: 100%;
    height: 66%;
  }
}
